.header {
  overflow: hidden;
  background-color:black;
  padding: 20px 10px;
  padding-bottom: 0;
}

.header_items {
  margin-right: 1rem;
}

#logo {
  width: 5rem;
    margin-top: -1.25rem;
}
.header a {
  float: left;
  color:aliceblue;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 2.0rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-weight: 200;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
  font-weight: 600;
  font-size: 2.5rem;
}

.header a:hover {
  background-color:black;
  color:aliceblue;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
.header-right {
  float: none;
}
}  
h3
{
    font-size: 300%;
    font-style: italic;
    color:maroon;
    text-indent: 60px;
    text-align:justify;
    margin-top: 1em;
    padding-top: 1%;
  
}
h4
{
    font-size: 200%;
    font-style: italic;
    color:white;
    text-indent: 45px;
    margin-bottom: 0.3em;
    margin-top: 2em;
    padding-top: 3%;
}
.contact
{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  background-image: url("../Image/sbg.jpg");
  background-size:contain;
 
}

.list li
{
  font-weight: 300px;
  color:aliceblue;
  font-size: 20px;
  font-style: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0.2%;
  margin-top: 1rem;
}

.list li a:hover 
{
  background-color: #ddd;
  color:maroon;
}
 
.list li a 
{
  color:aliceblue;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;

}

.Trip
{
  width: 80%;
  padding: 20px;
  background:linen;
  box-shadow: 3px 3px 3px burlywood;
  font-size: 100%;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(128, 0, 36);
  margin-bottom: 2px;
  padding-bottom: 2em;
}

fieldset
{
padding-top: .1em;
text-align: center;
border: none;  
}
.Form
  {
      width: 90%;
      padding: 40px;
     
  }

  .Form .inputBox
  {
      position: relative;
      width: 100%;
      margin-top: 10px;
  }
  .Form .inputBox input,
  .Form .inputBox textarea
  {
      width: 100%;
      padding: 20px 0;
      font-size: 16px;
      margin: 10px 0;
      border: none;  
      border-bottom: 2px solid #333;
      outline: none;  
      resize: none;
  }
  .Form .inputBox span
  { 
      position: absolute;
      left: 0;
      padding: 5px 0;
      font-size: 16px;
      margin: 10px 0;
      pointer-events: none;
      transition: 0.5s;
      color: #666;
  }
.footer {
display: flex;
flex-flow: row wrap;
padding: 30px 30px 20px 30px;
color: black;
background-color: white;
}

.footer_section {
margin-right: 1.25em;
margin-bottom: 2em;
}

.name_page {
font-family: 'Pacifico', cursive;
font-weight: 600;
text-transform: lowercase;
font-size: 1.5rem;
}

.footer_section h2 {
margin-top: 1.3em;
font-size: 20px;
font-weight: 400;
}

.title_f {
font-weight: 400;
font-size: 30px;
margin-left: 2rem;
}

.footer address {
font-style: normal;
color: black;
font-size: 1em;
}

.link_f {
display: flex;
align-items: center;
justify-content: center;
height: 36px;
max-width: max-content;
background-color:burlywood;
border-radius: 100px;
color: #2f2f2f;
line-height: 0;
margin: 0.6em 0;
font-size: 1rem;
padding: 0 1.3em;

}
.footer ul {
list-style: none;
padding-left: 0;
}

.footer li {
line-height: 2em;

}

.footer a {
text-decoration: none;
font-size: 15px;
}

.list_f {
display: flex;
  flex-flow: row wrap;
}

.ul_f a {
color:black;

}

.ul_f--extra {
column-count: 2;
column-gap: 1.25em;
}

li {
margin-left: 2rem;
}
.copy_f {
margin-top: 12rem;
color:black;
}

.link_f {
display: flex;
align-items: center;
}

.heart {
color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
.legal .link_f {
  margin-left: auto;
}
}

@media screen and (min-width: 40.375em) {

.footer_section {
  flex: 1 0px;
}

.list_f {
  flex: 2 0px;
}
}


.logo {

  width: 4rem;

}